// COLORS
$color-primary-pink: #F0174B;
$color-black: #080808;
$color-dark-black: #101010;
// END COLORS

$font-neue-montreal: 'Neue Montreal';
$font-nunito-sans: "Nunito Sans";

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);

$z-indexes: (
    'preview-profile__profile-details',
    'preview-profile__overlay',
    'modal-body',
    'modal-overlay',
    'modal',
    'home-content',
    'marquee-background-overlay',
    'marquee-background-image'
);